:root {
    --color-bg-primary: #520000;
    --color-bg-secondary: #000000;
    --color-headings: #ff0000;
    --color-text: #ffffff;
}

html {
    scroll-padding-top: 80px;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
}

header {
    background-color: var(--color-bg-secondary);
    color: var(--color-headings);
}

footer {
    background-color: var(--color-bg-secondary);
    position: fixed;
    bottom: 0;
    width: 100%;

}

h1 {
    color: var(--color-headings);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-headings);
}

.card{
    margin-right: 10px;
    margin-left: 10px;
}